<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Time-Tracking</display-name>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/classes/log4j.properties</param-value>
    </context-param>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/pages/activities.jsp</url-pattern>
        <url-pattern>/pages/activitiesByUser.jsp</url-pattern>
        <url-pattern>/pages/addedActivities.jsp</url-pattern>
        <url-pattern>/pages/adminIndex.jsp</url-pattern>
        <url-pattern>/pages/completedActivities.jsp</url-pattern>
        <url-pattern>/pages/removedActivities.jsp</url-pattern>
        <url-pattern>/pages/users.jsp</url-pattern>
    </filter-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>timetablib</taglib-uri>
            <taglib-location>/WEB-INF/mytaglib.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
